<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Examen</title>
</head>
<body>
<div class="container">
    <div class="row">
        <form action="/api/examen/login" method="post">
            <label for="nombreUsuario"><%=nombreUsuario%></label>
            <button>Salir</button>
        </form>
    </div>
    <div class="row">
        <form action="/api/examen/medicamentosBusqueda" method="post">
            <label for="buscar"></label>
            <input type="text" id="buscar" name="busqueda" placeholder="Busqueda">
            <button>Buscar</button>
        </form>
    </div>
    <div class="row">
        <a href="/api/examen/crearMedicamento">
            <button>Crear</button>
        </a>
    </div>
    <div class="row">
        <table>
            <tr>
                <th>gramos a ingerir</th>
                <th>nombre</th>
                <th>composicion</th>
                <th>usado para</th>
                <th>fecha caducidad</th>
                <th>numero pastillas</th>
                <th>acciones</th>
            </tr>
            <%arregloMedicamentos.forEach((medicamento)=>{%>
            <%if(medicamento.pacienteId==idPadre){%>
            <tr>
                <td><%=medicamento.gramosAIngerir%></td>
                <td><%=medicamento.nombre%></td>
                <td><%=medicamento.composicion%></td>
                <td><%=medicamento.usadoPara%></td>
                <td><%=medicamento.fechaCaducidad%></td>
                <td><%=medicamento.numeroPastillas%></td>
                <td>
                    <form action="/api/examen/eliminarM" method="post">
                        <input type="hidden" name="id" value="<%=medicamento.id%>"/>
                        <button>Eliminar</button>
                    </form>
                </td>
            </tr>
            <%}%>
            <%})%>
        </table>
    </div>
</div>
</body>
</html>