adios mundo
<%const nombre = 'Angel' //codigo JS%>
<%= nombre%>
<%const arreglo = [1,2,3,4,5];%>
<%= arreglo%>
<%const objeto = {nombre:'Angel'}; %>
<%= objeto%>
<%arreglo.forEach((valorActual)=>{%>
    <p>Numero: <%= valorActual%></p>
<%})%>

<ol>
    <%arreglo.forEach((valorActual)=>{%>
        <li>Numero: <%= valorActual%></li>
    <%})%>
</ol>

<%if(estaVivo){ %>
<h1>esta vivo!!!</h1>
<%}else{%>
<h1>c murio :(</h1>
<%}%>